/* General styles for the reset password page */
.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.reset-password-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.reset-password-container p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ddd;
  text-align: center;
}

.reset-password-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.reset-password-container input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.reset-password-container input:focus {
  border-color: #007bff;
  outline: none;
}

.reset-password-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.reset-password-container button:hover {
  background-color: #0056b3;
}

.reset-password-container .message {
  margin-top: 20px;
  font-size: 0.9rem;
  text-align: center;
}

.reset-password-container .message.success {
  color: #28a745; /* Green for success */
}

.reset-password-container .message.error {
  color: #dc3545; /* Red for error */
}

.reset-password-container .back-to-login {
  margin-top: 20px;
  background: #414141;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-password-container .back-to-login:hover {
  background-color: #333;
}
