.verify-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  font-family: Arial, sans-serif;
}

.verify-email-content {
  text-align: center;
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.verify-email-content h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.verify-email-content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.verify-email-content button {
  padding: 10px 20px;
  font-size: 16px;
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.verify-email-content button:hover {
  background: #727272;
}
